<!doctype html>
<html lang="en">
  <head>
    <title>Chat Router</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../styles/output.css" type="text/css" rel="stylesheet" />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-700">
    <div class="flex pt-12 justify-center">
      <p class="text-blue-500 text-center text-4xl ml-24">Hello!</p>
      <a
        href="about"
        class="hover-underline-animation text-sm ml-4 tracking-wide text-zinc-800 italic pt-4 underline-offset-4 dark:text-zinc-200"
        >What is this?</a
      >
    </div>
    <form class="flex justify-center pt-24" hx-post="/api/name-set">
      <div class="flex flex-col justify-center">
        <p class="text-xl text-blue-400">
          Let's start with setting a name for the session!
        </p>
        <div class="input-group text-blue-500">
          <input
            class="bg-transparent underlinedInput w-full"
            required
            id="name"
            name="name"
            type="text"
            placeholder=" "
            hx-trigger="keyup changed delay:300ms"
            hx-post="/api/validate"
            hx-target="#validation-response"
          />
          <span class="bar"></span>
          <label class="underlinedInputLabel bg-transparent w-1/2">Name</label>
        </div>
        <div id="validation-response"></div>
      </div>
    </form>
  </body>
  <script src="../scripts/htmx.min.js"></script>
</html>
