@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group,
.textarea-group {
  position: relative;
  margin-top: 45px;
}

input.underlinedInput,
textarea.underlinedInput {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
}

@media (prefers-color-scheme: light) {
  input.underlinedInput,
  textarea.underlinedInput {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
@media (prefers-color-scheme: dark) {
  input.underlinedInput,
  textarea.underlinedInput {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}

textarea.underlinedInput {
  resize: none;
}

input.underlinedInput:focus,
textarea.underlinedInput:focus {
  outline: none;
}

.bar {
  position: relative;
  display: block;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  transition: width 0.3s ease-out;
}

@media (prefers-color-scheme: light) {
  .bar:before,
  .bar:after {
    background: #60a5fa;
  }
}
@media (prefers-color-scheme: dark) {
  .bar:before,
  .bar:after {
    background: #1d4ed8;
  }
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

input.underlinedInput:focus ~ .bar:before,
input.underlinedInput:focus ~ .bar:after,
textarea.underlinedInput:focus ~ .bar:before,
textarea.underlinedInput:focus ~ .bar:after {
  width: 50%;
}
input.underlinedInput:focus ~ label,
input.underlinedInput:not(:placeholder-shown) ~ label,
textarea.underlinedInput:focus ~ label,
textarea.underlinedInput:not(:placeholder-shown) ~ label {
  top: -20px;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  input.underlinedInput:focus ~ label,
  input.underlinedInput:not(:placeholder-shown) ~ label,
  textarea.underlinedInput:focus ~ label,
  textarea.underlinedInput:not(:placeholder-shown) ~ label {
    color: #60a5fa;
  }
}
@media (prefers-color-scheme: dark) {
  input.underlinedInput:focus ~ label,
  input.underlinedInput:not(:placeholder-shown) ~ label,
  textarea.underlinedInput:focus ~ label,
  textarea.underlinedInput:not(:placeholder-shown) ~ label {
    color: #1d4ed8;
  }
}

label.underlinedInputLabel {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition:
    all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (prefers-color-scheme: light) {
  label.underlinedInputLabel {
    color: rgba(0, 0, 0, 0.4);
  }
}
@media (prefers-color-scheme: dark) {
  label.underlinedInputLabel {
    color: rgba(255, 255, 255, 0.8);
  }
}
